.TercerHeader{

    background-color:#001D2D;
    color: white;
}
.SegundoHeader{
 
    background-color: #00669F;
    height: 70px;

    width: 100%;
    display: flex;
    color: white;
}
header{

    background-color: #1CD1B0;
    margin: 0;
    height: 30px;

}