div#myDiv{
    background-image: url('../img/fondo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    height: 100vh;
    }
h1{
    box-align: center;
    color: #005677; 
    text-align: center;
    background: #C4C4C4;
}
.{
    background-color: red;
}
footer{
    background-color: #005677;
    text-align: center;
    color: #FFFFFF;
    ;
}
h2{
    color:#005677;
    background-color:  rgb(167, 223, 188);
}
gris{
    text-align: center;  
    background:  rgb(167, 223, 188);
}
.Sin{
    list-style-type: none;
}
span{
    font-weight: bold;
}
.gris{
    background-color:  rgb(167, 223, 188);
}
.img1{
    width: 300px;
    left: 300px;
    border-radius: 0px;
    
}
.foto{
    background-color: rgb(167, 223, 188);

}
div p{
    background-color: rgb(178, 153, 189);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#imagenpequena{
    width: 300px;
    left: 300px;
}